{% extends "typeclub/base.html" %}

{% block content %}
	<p>Hello! Welcome to Pteam <img src="{{ STATIC_URL }}imgs/favicon.ico"/> Pterodactyl's
           <img src="{{ STATIC_URL }}imgs/favicon.ico"/> DIM3 project, "Type Club"!</p>
	<p><h2>Meet the pteam:</h2>
	<img src = "{{ STATIC_URL }}imgs/teamp.jpg" width=600px height=800px/></p>
{% endblock %}
