<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Type Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      
      #text-box {
      	padding: 9px 5px 5px 10px;
      	width: 410px;
      	height: 35px;
      }
      
      #words {
      	margin-bottom: 30px;
      }
      
      .word{
		padding: 5px;
		font-size: 30px;		
      	display:inline;
		line-height: 2;
		background-color: #ffffff
      }

	  .current{
		background-color: #dddddd;
	  }

	  .wrong {
		background-color: red;
	  }

	  .correct {
 		background-color: #33FF33;
	  }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Type Club</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                                        {% if user.is_authenticated %}
                                                Welcome, <a href = "/profile/">{{ user.username }}</a> |
                                                <a href="/logout/">Logout</a>
                                        {% else %}
                                                <a href="/register/">Register</a> |
                                                <a href="/login/">Login</a>
                                        {% endif %}
            </p>
            <ul class="nav">
                                <li><a href="/">Home</a></li>
								<li><a href="/howto/">How to Play</a></li>
                                <li><a href="/about/">About</a></li>
								<li><a href="/find_game/">Find Game</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
         <div class="hero-unit">
                        {% block content %}
                            {% endblock %}
         </div>
      </div><!--/row-->
      
      <div class = "container">
      		{% block wordbox %}
      			{% endblock %}
      </div>
      
      <div class = "row show-grid">
      	<div class = "span9 offset4">
      		{% block span9 %}
      			{% endblock %}
      	</div>
      </div>

      <hr>

      <footer>
        <p>&copy; Type Club 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets//js/bootstrap-typeahead.js"></script>
    {% block scripts %}
    	{% endblock %}

  </body>
</html>
