{% extends "typeclub/base.html" %}

{% block content %}
    <h2>Find Games!!!!!!</h2>
	{% if games %}
		<ul>
		<table class="table table-hover table-striped">
			<tr><th>Session</th><th>Player 1</th><th>Player 2</th></tr>
		{% for game in games %}
				<tr><td>{{ game.id }}</td>
				<td>{{ game.user1 }}</td>
				<td>{{ game.user2 }}</td></tr>
		{% endfor %}
	</table>
		</ul>
	{% else %}
		<p>No games to show!</p>
	{% endif %}
	<a href ="/play/">Create lobby!</a>

{% endblock %}

{% block scripts %}
<script type = "text/javascript">
	$("tr").click(function() {
		$.post("/join_gamesession/", {id: $(this).children('td').first().html()}, function(){window.location.href = "/play/";});
	});

</script>
{% endblock %}
