{% extends "typeclub/base.html" %}

{% block content %}
	<h1>Welcome to Type Club!</h1>
	<br/>
    <center><iframe width="420" height="315" src="http://www.youtube.com/embed/AusgPSiDz6s?rel=0" frameborder="0" allowfullscreen></iframe></center>


    	{% if posts %}
    	<h1>TypeClub Blog</h1>
        	
		{% for post in posts %}
		    <h2>{{ post.title }}</h2>
			
			Category: {{ post.category }}
			<div class="time">{{ post.posted }}</div>
			
			{% block post_content %}
			    <h3><div class="body">{{ post.body }}</div></h3>
			{% endblock %}
			
			<br/>
		{% endfor %}
		
	{% else %}
		<p>There are no posts for the TypeClub Blog :(. Go to /admin and make some ! </p>
	{% endif %}


{% endblock %}
