{% extends "typeclub/base.html" %}

{% block content %}

{% block sidebar %}
    <style type="text/css">
        #sidebar { float: right; border: 4px #ccc; padding: 4px; }
    </style>
    <div id="sidebar">
	{% if toptype %}
		Fastest Typists: <br/>
		{% for user in toptype %}
		    {{user.user}}<br/>
		{% endfor %}
	{% endif %} 
    	<hr>
	{% if typerank %}
		Your rank: {{typerank}}
	{% endif %}
    </div>
{% endblock %}

    <h2>{{ user.username }}</h2>
	{% if userprofile %}
	<img src = "{{ MEDIA_URL }}{{ userprofile.picture }}"/>	
	<a href="{{ userprofile.website }}">{{userprofile.website}}</a><br>
    WPM: {{userprofile.wpm}}<br>
    Wins: {{userprofile.wins}}<br>
    Total Games Played: {{userprofile.games}}<br>
	{% else %}
	Hello admin ! You don't have a user profile. Here are your <a href="/admin">admin controls</a>.
	{% endif %}

{% endblock %}
