{% extends "typeclub/base.html" %}

{% block content %}
	<h1>Welcome to Type Club! Here you can learn how to play!</h1>
	<br />
	<p>Type Club lets users like you test and improve your typing skill 
	   by competing head-to-head with other players from around the world.</p>
	<p>The game will assign you random words, and you must type them into 
	    the box correctly as fast as you can. The word will highlight 
	<span style="background-color: #FF0000">red</span>	
	as soon as you make a spelling mistake, and 
	<span style="background-color: #33FF33">green</span> 
	after you have finished the word and pressed the spacebar.</p>
	<p>In order to play, head to the <a href="/find_game/">Find Game</a> 
	section and find an existing game or create the lobby yourself.</p>

{% endblock %}

