{% extends "typeclub/base.html" %}

{% block content %}
	<h1>Welcome to Type Club!</h1>
    	{% if posts %}
    	<left><h2>TypeClub Blog</h2></left>
		<table class="table table-striped table-bordered">
		<tbody>{% for post in posts %}
		    <tr><h3>{{ post.title }}</h3>
			<div class="time">{{ post.posted }}</div>
			{% block post_content %}
			    <h4><div class="body">{{ post.body|safe }}</div></h4>
			{% endblock %}
			<br/><tr/>
		{% endfor %}</tbody>
		<table/>		
	{% else %}
		<p>There are no posts for the TypeClub Blog :(. Go to /admin and make some ! </p>
	{% endif %}
{% endblock %}
