{% extends "typeclub/base.html" %}

{% block content %}
	<form id = "login_form" method = "post" action = "/login/">
	{% csrf_token %}
		Username: <input type = "text" name = "username" value = "" id = "username" size = "50" />
		<br />
		Password: <input type = "password" name = "password" value = "" id = "password" size = "50" />
		<br />
		<input type = "submit" name = "submit" value = "submit"/>
	{% if next %}
		<input type="hidden" name="next" value="{{next}}" />
	{% else %}
		<input type="hidden" name="next" value="/" />
	{% endif %}
	</form>
{% endblock %}
