{% extends "typeclub/base.html" %}

{% block content %}
	<h1>This is the bit where you play the game!</h2>
	User: {{ user }} <br/>
	User status: <div id = "status">Polling... please be patient!</div>
{% endblock %}

{% block wordbox %}
	<div id = "words">
		<div class="word current" id = "0"></div>
		<div class="word" id = "1"></div>
		<div class="word" id = "2"></div>
		<div class="word" id = "3"></div>
		<div class="word" id = "4"></div>
		<div class="word" id = "5"></div>
		<div class="word" id = "6"></div>
		<div class="word" id = "7"></div>
	</div>
{% endblock %}

{% block span9 %}
	<div id = "input-box">
		<input type = "text" id = "text-box" value = "" dir = "ltr">
	</div>
{% endblock %}

{% block scripts %}
<script type = "text/javascript">
	currentChar = 0;
	currentWord = 0;
	fbi = new Array();	// Stores the furthest back incorrect pos of each word
	for (var i = 0; i < 8; i++) {
		fbi[i] = null;
	}
	

	$(document).ready(function() {
		// Start execution and begin polling
		doPoll();

		function game() {
			/*
			 * Listener for keyboard presses
			 */			
			$("#text-box").keypress(function(event) {
				// Enter, user submission
				if (event.which == 13) {
					$.ajax({type: "POST",
							data: { textBox: $("#text-box").val(), id: {{ gs.id }} },
							url: "/check/",
							success: function(message) {
	if(isNumeric(message)){
		setTimeout( function() { $.ajax({type: "POST",
					  data: { textBox: $("#text-box").val(), id: {{ gs.id }} },
					  url: "/check/",
					  success: function(message) {
							alert(message);
					 	   }
						});
					},Number(message)*1000+1); 
	} else {alert(message);
			if(message!="Spelling error"){
				window.location="/profile/";
			}
		}
							}
						});
				}
				else {
					// Space
					if (event.which == 32) {
						if (fbi[currentWord] == null && $("#"+currentWord).html().length == currentChar) {
							$("#"+currentWord).addClass("correct");
						}
						else {
							$("#"+currentWord).addClass("wrong");
						}
						$("#"+currentWord).removeClass("current");
						currentWord += 1;
						currentChar = 0;
						$("#"+currentWord).addClass("current");
					}
					// Incorrect
					else if ($("#"+currentWord).html().charAt(currentChar) != String.fromCharCode(event.which)) {
						if (fbi[currentWord] == null || (fbi[currentWord] != null && fbi[currentWord] > currentChar)) {
							$("#"+currentWord).removeClass().addClass("word current wrong");
							fbi[currentWord] = currentChar;
						}
						currentChar++;
					}
					// Correct
					else {
						currentChar++;
					}
					$("#cc").html(currentChar);
					$("#cw").html(currentWord);
					$("#wc").html(fbi[currentWord]);
				}
			});		
			/*
			 * Listener for backspace
			 */
			 $("#text-box").keyup(function(event) {
			 	if (event.which == 8) {
					var cpos = getCaretPos(document.getElementById("text-box"));
					refreshCounters();
					// Change background for currentWord to correct values
					$("#"+currentWord).removeClass("correct").addClass("current");
					if (fbi[currentWord] == null) {
						$("#"+currentWord).removeClass("wrong");
					}
					// Change background of deleted words to white
					for (var i = currentWord+1; i < 15; i++) {
						if ($("#"+i).hasClass("current") || $("#"+i).hasClass("correct") || $("#"+i).hasClass("wrong")) {
							$("#"+i).removeClass().addClass("word");
						}
						else {
							break;
						}
					}
					// Check if deleted mistake
					if (fbi[currentWord] >= currentChar) {
						$("#"+currentWord).removeClass("wrong");
						fbi[currentWord] = null;
					}
			 	}
				$("#cc").html(currentChar);
				$("#cw").html(currentWord);
				$("#cpos").html(cpos);
				$("#wc").html(fbi[currentWord]);
			 });
		}
		/*
		 *	Refresh current char and word
		 */
		function refreshCounters() {
			var words = $("#text-box").val().split(" ");
			currentWord = words.length - 1;
			// Gets  the total number of chars from word[0]..word[currentWord]
			// Add 1 to accomodate currentChar starting at 0
			var temp = 0;
			for (var i = 0; i < currentWord; i++) {
				temp += $("#"+i).html().length + 1;
			}
			currentChar = getCaretPos(document.getElementById("text-box")) - temp;
		}
		/*
		 *	Returns the current caret pos
		 */
		function getCaretPos(input) {
			// Internet Explorer Caret Position (TextArea)
			if (document.selection && document.selection.createRange) {
		    	var range = document.selection.createRange();
		    	var bookmark = range.getBookmark();
		    	var caret_pos = bookmark.charCodeAt(2) - 2;
			} else {
		    	// Firefox Caret Position (TextArea)
		    	if (input.setSelectionRange)
		        	var caret_pos = input.selectionStart;
			}
			return caret_pos;
		}
		/*
		 *	Poll for user1 to do until user 2 connects
		 */
		function doPoll() {
			$.ajax({type: "POST",
					data: {id: {{ gs.id }} },
					url: "/poll/",
					success: function(message) {
						if (message == "nr") {
							setTimeout(doPoll, 2000);
						}
						else if (message = "r"){
							$("#status").html("Playing");
							generate_words();
							game();
						}
						else {
							alert("GameSession has been deleted due to opponent leaving game, please leave this page and join another game");
						}
					}
			});
		}
		/*
		 *	generate words
		 */
		function generate_words() {
			$.ajax({type: "POST",
					data: {id: {{ gs.id }} },
					url: "/generate_words/",
					success: function(message) {
						var wordArray = message.split(" ");
						$(".word").each(function (index) {
							$(this).html(wordArray[index]);
						});						
					}
			});
		}		
		/* isNumeric */
		function isNumeric(n) {
  			return !isNaN(parseFloat(n)) && isFinite(n);
		}
	});
</script>
{% endblock %}
