{% extends "typeclub/base.html" %}

{% block content %}
	{% if registered %}
		Thank you for registering! Click <a href = "/">here</a> to go back to the home page.
	{% else %}
		typeclub says: register here!
		<form id = "user_form" method = "post" action = "/register/" enctype="multipart/form-data">
			{% csrf_token %}
			{{ uform.as_p }}
			{{ pform.as_p }}
			<input type = "submit" name = "submit" value = "submit"/>
		</form>
	{% endif %}
{% endblock %}
