body {
	background-color: #00FF33;
	color: #FFFFFF;
	font: 20px bold ariel, sans-serif;
}

p {
	color: #000000;
}

a {
	text-decoration: none;
}

div {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin: 10px;
}

#page_content {
	float: left;
}

#page_sidebar {
	float: left;
	width: 20%;
}

#page_footer {
	clear: both;
}

#page_user {
	float: right;
	position: relative;
	top: -100px;
}
